<h1>Welcome to Number Guess Game 2020</h1>

<p>You can be the greatest player in history ever!!!!</p>

<div>
    <form method="post" action="/start_game">
        <input type="hidden" name="product" value="whatever">
        <fieldset style="width: 300px;     margin-left: auto; margin-right: auto;" >
            <input type="text" name="name" id="name" placeholder="Enter You Username">
        </fieldset>
        <input class='btn btn-primary' type='submit' value='Start New Game'>
    </form>
</div>

