<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sinatra</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body style="background-color: <%= @background_color %>" >
  <%= yield %>
</body>
</html>